# Nested Loops Assignment

---

### 1) Print a square pattern of stars of size n. Input n from the user. Example for n=4:
```
****
****
****
****
```

**Approach:** Use a nested loop: outer loop for rows (0..n-1) and inner loop to print n stars in each row. Use print(..., end='') and print() to move to next line.

In [1]:
# Write your code here

n = int(input("Enter the value of n: "))

for i in range(n):     
    for j in range(n):     
        print("*", end="")
    print()

*****
*****
*****
*****
*****

### 2) Print a right-angled triangle of stars of height n. Input n from the user. Example for n=4:
```
*
**
***
****
```

**Approach:** Outer loop for rows 1..n, inner loop prints i stars for each row.

In [2]:
#Write your code here
n = int(input("Enter the value of n: "))

for i in range(1, n + 1):      
    for j in range(i):        
        print("*", end="")
    print()

*
**
***
****
*****

### 3) Print a left-aligned pyramid (triangle) of stars of height n using spaces and stars. Example for n=4:
```
   *
  **
 ***
****
```

**Approach:** For each row i from 1..n: print (n-i) spaces then i stars. Use nested loops or string multiplication with variables.

In [3]:
# Write your code here

n = int(input("Enter the value of n: "))

for i in range(1, n + 1):          
    for space in range(n - i):     
        print(" ", end="")
    for star in range(i):          
        print("*", end="")
    print()

    *
   **
  ***
 ****
*****

### 4) Print a hollow square of size n. Example for n=5:
```
*****
*   *
*   *
*   *
*****
```

**Approach:** Print full stars for first and last row. For middle rows, print star, (n-2) spaces, star. Use loops and conditionals.

In [4]:
# Write your code here

n = int(input("Enter the value of n: "))

for i in range(n):
    if i == 0 or i == n - 1:          
        for j in range(n):
            print("*", end="")
    else:                            
        print("*", end="")
        for j in range(n - 2):
            print(" ", end="")
        print("*", end="")
    print()

*****
*   *
*   *
*   *
*****

### 5) Print the multiplication table from 1 to n as a grid. Input n. Example for n=3:
```
1 2 3
2 4 6
3 6 9
```

**Approach:** Use two nested loops i and j from 1..n and print i*j in a grid layout. Align with spaces.

In [6]:
# Write your code here

n = int(input("Enter the value of n: "))

for i in range(1, n + 1):          
    for j in range(1, n + 1):      
        print(i * j, end=" ")
    print()

1 2 3
2 4 6
3 6 9

### 6) Given n, print an n x n matrix where each element is the sum of its row and column indexes (starting from 1). Example n=3:
```
2 3 4
3 4 5
4 5 6
```

**Approach:** Nested loops for row and column. Compute (i + j) and print.

In [7]:
# Write your code here
n = int(input("Enter the value of n: "))

for i in range(1, n + 1):          
    for j in range(1, n + 1):    
        print(i + j, end=" ")
    print()

2 3 4 5 6
3 4 5 6 7
4 5 6 7 8
5 6 7 8 9
6 7 8 9 10

### 7) Print a pattern of numbers where each row i has numbers from 1 to i. Input n. Example n=4:
```
1
12
123
1234
```

**Approach:** Outer loop rows 1..n, inner loop prints numbers 1..i without spaces.

In [8]:
# Write your code here
n = int(input("Enter n: "))

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

1
12
123
1234
12345

### 8) Create a right-angled number triangle where each row i prints i repeated i times. Example n=4:
```
1
22
333
4444
```

**Approach:** Outer loop rows 1..n, inner loop prints the row number i, repeated i times.

In [9]:
# Write your code here

n = int(input("Enter n: "))

for i in range(1, n + 1):
    for j in range(i):
        print(i, end="")
    print()

1
22
333
4444
55555

### 9) Print a matrix of dimensions r x c where element at (i,j) equals i*j (rows and columns start from 1). Inputs: r and c. Example r=2,c=4:
```
1 2 3 4
2 4 6 8
```

**Approach:** Nested loops for i in 1..r and j in 1..c and print i*j.

In [ ]:
# Write your code here

### 10) Given n, print a checkerboard of size n x n using X and O alternately. Example n=4:
```
X O X O
O X O X
X O X O
O X O X
```

**Approach:** For position (i,j), if (i+j) is even print 'X' else 'O'. Use nested loops and conditionals.

In [14]:
# Write your code here

n = int(input())

for i in range(n):
    for j in range(n):
        if (i + j) % 2 == 0:
            print("X", end=" ")
        else:
            print("O", end=" ")
    print()

X O X O X
O X O X O
X O X O X
O X O X O
X O X O X

### 11) Print the lower triangular part of an n x n matrix of stars (including diagonal). Example n=4:
```
*
**
***
****
```

**Approach:** For row i from 1..n, print stars for columns j from 1..i.

In [15]:
# Write your code here

n = 4
for i in range(1, n + 1):
    print("*" * i)

*
**
***
****

### 12) Print the upper triangular part of an n x n matrix of stars (including diagonal). Example n=4:
```
****
 ***
  **
   *
```

**Approach:** For row i from 1..n, print (i-1) spaces then (n-i+1) stars.

In [16]:
# Write your code here
n = int(input())

for i in range(1, n + 1):
    print(" " * (i - 1) + "*" * (n - i + 1))

*****
 ****
  ***
   **
    *

### 13) Print a numeric pyramid of height n where row i contains numbers from 1 to i and then back to 1 (no spaces between digits). Example n=4:
```
1
121
12321
1234321
```

**Approach:** For each row i, print increasing numbers 1..i then decreasing i-1..1. Use two loops.

In [18]:
# Write your code here

n = int(input())

for i in range(1, n + 1):
    # increasing part
    for j in range(1, i + 1):
        print(j, end="")
    
    # decreasing part
    for j in range(i - 1, 0, -1):
        print(j, end="")
    
    print()

1
121
12321
1234321
123454321

### 14) Given n, create an n x n identity-like matrix of 1s and 0s where diagonal elements are 1 and others are 0. Example n=4:
```
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1
```

**Approach:** For each i,j check if i==j then print 1 else 0.

In [19]:
# Write your code here
n = int(input())

for i in range(n):
    for j in range(n):
        if i == j:
            print(1, end=" ")
        else:
            print(0, end=" ")
    print()

1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1

### 15) Print a pattern where row i contains the first i even numbers separated without spaces. Example n=4:
```
2
24
246
2468
```

**Approach:** For each row i generate first i even numbers (2,4,6...). Use nested loop to build the row.

In [20]:
# Write your code here

n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(2 * j, end="")
    print()

2
24
246
2468
246810

### 16) Given n, produce the multiplication square where cell (i,j) is i^j (i to the power j) for 1<=i,j<=n and display integers. Example n=3:
```
1 1 1
2 4 8
3 9 27
```

**Approach:** Use nested loops and the exponent operator (**) to compute i**j.

In [22]:
# Write your code here
n = int(input())

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(i ** j, end=" ")
    print()

1 1 1 1 1
2 4 8 16 32
3 9 27 81 243
4 16 64 256 1024
5 25 125 625 3125

### 17) Given two integers r and c, fill an r x c matrix with consecutive numbers starting from 1 row-wise and print it. Example r=2,c=3:
```
1 2 3
4 5 6
```

**Approach:** Use nested loops and a counter variable that increments each time an element is printed.

In [23]:
# Write your code here

r = int(input())
c = int(input())

num = 1
for i in range(r):
    for j in range(c):
        print(num, end=" ")
        num += 1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

### 18) For a given n, print the Floyd's triangle of n rows. Example n=4:
```
1
2 3
4 5 6
7 8 9 10
```

**Approach:** Use a counter starting at 1 and nested loops where row i prints i numbers, incrementing the counter each time.

In [24]:
# Write your code here
n = int(input())

num = 1
for i in range(1, n + 1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### 19) Given n, print a symmetric diamond pattern of stars with maximum width 2*n-1. Example n=3:
```
  *
 ***
*****
 ***
  *
```

**Approach:** Use two parts: top (1..n) and bottom (n-1..1). For row k compute spaces and stars accordingly.

In [25]:
# Write your code here

n = int(input())

# top part
for i in range(1, n + 1):
    print(" " * (n - i) + "*" * (2 * i - 1))

# bottom part
for i in range(n - 1, 0, -1):
    print(" " * (n - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### 20) Given n, print an n x n matrix where rows alternate between increasing numbers 1..n and decreasing numbers n..1. Example n=3:
```
1 2 3
3 2 1
1 2 3
```

**Approach:** For each row i, if i is odd print 1..n else print n..1. Use nested loops and conditionals.

In [26]:
# Write your code here
n = int(input("Enter n: "))

for i in range(1, n + 1):
    if i % 2 != 0:        # odd row → increasing
        for j in range(1, n + 1):
            print(j, end=" ")
    else:                # even row → decreasing
        for j in range(n, 0, -1):
            print(j, end=" ")
    print()

1 2 3
3 2 1
1 2 3

Submission Form Link : https://forms.gle/VU35qgd9f5aFZtWB6