### Question 1: List (Order and Duplicates)

You are given a list of daily sales amounts:

```python
sales = [1200, 1500, 1200, 1800, 1500]
```

Tasks:
1. Print the total sales
2. Print the highest sale
3. Print how many times `1200` appears

In [1]:
sales = [1200, 1500, 1200, 1800, 1500]

print("Total sales:", sum(sales))

print("Highest sale:", max(sales))

print("1200 appears:", sales.count(1200), "times")

Total sales: 7200
Highest sale: 1800
1200 appears: 2 times

### Question 2: Tuple (Fixed Data)

You are given a tuple that stores a student’s basic information:

```python
student = ("Aman", 21, "Delhi")
```

Tasks:
1. Print the student’s name
2. Print the student’s age
3. Try to update the age and observe what happens

In [2]:
student = ("Aman", 21, "Delhi")

print("Name:", student[0])

print("Age:", student[1])

student[1] = 22

Name: Aman
Age: 21

TypeError: 'tuple' object does not support item assignment

### Question 3: Set (Uniqueness)

You are given two lists of students who attended two different workshops:

```python
day1 = ["Rahul", "Aman", "Neha", "Rahul"]
day2 = ["Neha", "Aman", "Sita"]
```

Tasks:
1. Convert both lists into sets
2. Print students who attended both days
3. Print students who attended only Day 1

In [3]:
# write your code here
day1 = ["Rahul", "Aman", "Neha", "Rahul"]
day2 = ["Neha", "Aman", "Sita"]

set_day1 = set(day1)
set_day2 = set(day2)

print("Day 1 in SET :",set_day1)
print("Day 2 in  SET :", set_day2)

both_days = set_day1 & set_day2
print("Attended both days:", both_days)

only_day1 = set_day1 - set_day2
print("Only Day 1:", only_day1)

Day 1 in SET : {'Rahul', 'Aman', 'Neha'}
Day 2 in  SET : {'Aman', 'Sita', 'Neha'}
Attended both days: {'Aman', 'Neha'}
Only Day 1: {'Rahul'}

### Question 4: Dictionary (Key-Value Mapping)

You are given marks of students in a subject:

```python
marks = {
    "Rahul": 85,
    "Aman": 90,
    "Neha": 78
}
```

Tasks:
1. Print marks of "Aman"
2. Add marks for "Sita" = 88
3. Update "Neha" marks to 80
4. Print all student names and their marks using a loop

In [4]:
# write your code here
marks = {
    "Rahul": 85,
    "Aman": 90,
    "Neha": 78
}

print("Aman marks:", marks["Aman"])

marks["Sita"] = 88

marks["Neha"] = 80

for name, score in marks.items():
    print(name, ":", score)

Aman marks: 90
Rahul : 85
Aman : 90
Neha : 80
Sita : 88

### Question 5: Mixed Data Structures (Real-Life Scenario)

You are given a list of orders:

```python
orders = ["apple", "banana", "apple", "orange", "banana", "apple"]
```

Tasks:
1. Find all unique products
2. Create a dictionary that stores product and its count
3. Print each product and its count

In [6]:
# write your code here
orders = ["apple", "banana", "apple", "orange", "banana", "apple"]

unique_products = set(orders)
print("Unique products:", unique_products)

product_count = {}

for item in orders:
    if item in product_count:
        product_count[item] += 1
    else:
        product_count[item] = 1

for product, count in product_count.items():
    print(product, ":", count)

Unique products: {'banana', 'apple', 'orange'}
apple : 3
banana : 2
orange : 1