# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
Tuple=(1,2,3,4,5,6)
print(Tuple)

(1, 2, 3, 4, 5, 6)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [4]:
# write your answer here
tuple = (10, 3.14, "Python", True)

print(tuple[0]) 
print(tuple[1])
print(tuple[2])
print(tuple[3])

10
3.14
Python
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [2]:
# write your answer here
students = ("Swati", "Rahul", "Anita", "Amit")
print(len(students))

4

### Question 4
Access and print the last element of a tuple.

In [5]:
# write your answer here
students = ("Swati", "Rahul", "Anita", "Amit")
print(students[-1])

Amit

### Question 5
Check whether an element exists in a tuple or not.

In [6]:
# write your answer here
tuple = (10, 20, 30, 40, 50)

if 30 in tuple:
    print("Element exists in the tuple")
else:
    print("Element does not exist in the tuple")

Element exists in the tuple

### Question 6
Convert a tuple into a list.

In [ ]:
# write your answer here
tuple = (10, 20, 30, 40)
my_list = list(my_tuple)

print(my_list)

[10, 20, 30, 40]

### Question 7
Convert a list into a tuple.

In [1]:
my_list = [10, 20, 30, 40]
my_tuple = tuple(my_list)
print(my_tuple)

(10, 20, 30, 40)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [3]:
# write your answer 
my_tuple = (10, 20, 10, 30, 10, 40)

count = my_tuple.count(10)
print("10 appears", count, "times")

10 appears 3 times

### Question 9
Find the index of an element in a tuple.

In [4]:
# write your answer here
my_tuple = (10, 20, 30, 40, 50)

index = my_tuple.index(30)
print("Index of 30 is:", index)

Index of 30 is: 2

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [5]:
# write your answer here
my_tuple = (10, 20, 30)

my_tuple[1] = 50

TypeError: 'tuple' object does not support item assignment

## ðŸŸ© Set Practice Questions

### Question 11
Create a set of 5 unique numbers and print it.

In [6]:
# write your answer here
my_set = {10, 20, 30, 40, 50}
print(my_set)

{50, 20, 40, 10, 30}

### Question 12
Create a set with duplicate values and observe the output.

In [7]:
# write your answer here
my_set = {10, 40, 40, 40, 50}
print(my_set)

{40, 10, 50}

### Question 13
Add an element to a set.

In [9]:
# write your answer here
Set= {10, 60, 40, 40, 50}
Set.add(70)
print(Set)

{70, 40, 10, 50, 60}

### Question 14
Remove an element from a set.

In [10]:
# write your answer here
my_set = {1, 2, 3, 4, 5}

my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

### Question 15
Check whether an element exists in a set.

In [11]:
# write your answer here
my_set = {1, 2, 3, 4, 5}

print(3 in my_set)   
print(10 in my_set)

True
False

### Question 16
Find the length of a set.

In [14]:
# write your answer here
my_set = {1, 2, 3, 4, 5,6,7,8,9}
my_set.__len__()

9

### Question 17
Convert a list with duplicate values into a set.

In [15]:
# write your answer here

my_list = [1, 2, 2, 3, 4, 4, 5]

my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

### Question 18
Convert a set into a list.

In [16]:
# write your answer here
my_set = {1, 2, 3, 4, 5}

my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

### Question 19
Find common elements between two sets.

In [17]:
# write your answer here
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

common_elements = set1.intersection(set2)
print(common_elements)

{4, 5}

### Question 20
Find all unique elements from two sets.

In [18]:
# write your answer here
# Two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

unique_elements = set1.union(set2)
print(unique_elements)

{1, 2, 3, 4, 5, 6, 7, 8}

# Optional Question
### Problem:
Class A has students: {"Amit", "Neha", "Rahul"}
Class B has students: {"Rahul", "Priya", "Sneha"}

In [4]:
class_a={"Amit", "Neha", "Rahul"}
class_b={"Rahul", "Priya", "Sneha"}

final_list_of_student=class_a.union(class_b)
print(final_list_of_student)

{'Sneha', 'Amit', 'Priya', 'Rahul', 'Neha'}